<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a href="#" class="navbar-brand">Data Visualizations</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">

      <!-- Leftside -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">D3 Activities</a>
        </li>
      </ul>

      <!-- Rightside -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Angular 5 / D3</a>
        </li>
      </ul>

    </div> <!-- navbar-collapse -->
  </div> <!-- container -->
</nav>
